<!DOCTYPE html>
<html>
<head>
  <title>Edit a User</title>
</head>
<body>


<fieldset>
  <legend>Edit - User Information</legend>
  <form action="/users/<%= users.id %>" method="post">
    <label> First name: 
    <input type="text" name="first" placeholder="<%= users.firstName %>"></label>
    <label>Last name: 
    <input type="text" name="last" placeholder="<%= users.lastName %>"></label>
    <label>Favorite language: 
    <input type="text" name="language" placeholder="<%= users.favoriteLanguage %>"></label>
    <input type="submit">
  </form>

  <form action="/users/<%= users.id %>/destroy" method="post">
    <input type="submit" value="Delete User">
  </form>
</fieldset>


</body>
</html>