<!DOCTYPE html>
<html>
<head>
  <title>Message Board</title>
</head>
<body>
  <h1>The Dojo Message Board</h1>
  <hr>

  <form action="/posts" method="post">
    <label>Name:
    <input type="text" name="name"></label>
    <label>Message:
    <textarea name="message"></textarea></label>
    <input type="submit" value="Post message">
  </form>

  <hr>


<% for (x in posts) { %>

  <h3>Name: <%= posts[x].name %> </h3>
  <h3>Message: <%= posts[x].text %> </h3>

<% for (y in posts[x]._comments) { %>

  <h5><%="Name: " + posts[x]._comments[y].name %></h5>
  <h5><%="Comment: " + posts[x]._comments[y].text %></h5>
  
<% } %>

  <form action=<%="/comment/" + posts[x]._id %> method="post">
    <h5>Name: </h5> <input type="text" name="name">
    <h5>Comment: </h5> <textarea name="comment"></textarea>
    <input type="submit" value="Post comment">
  </form>

<% } %>


</body>
</html>